.App {
  text-align: center;
}
.queryId {
  font-size: 12px;
}

input[type='file'] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.padding {
  padding: 5px;
}

.bold {
  font-weight: bold;
}
