body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.darkMode {
  background: #0d1316;
}

.darkMode .chartRow {
  background: #0d1316;
}

.chartRow {
  border-bottom: 1px solid #444444;
  padding: 5px 8px;
}

.headerRow {
  border: 2px solid white;
}

.chartLabel {
  display: inline-block;
  width: 120px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 40px;
}

.chartMiniColumn {
  display: inline-block;
  width: 50px;
  line-height: 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

.chartBars {
  display: inline-block;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.chartBars .chartBar {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  position: absolute;
  text-align: right;
}

.chartBarAfterDescription {
  padding-left: 5px;
}

.darkMode .chartBarTypedial {
  background: #a5c882;
}

.chartBarTypedial {
  background: #89909f;
}

.darkMode .chartBarTypequery {
  background: #5ab1bb;
}

.chartBarTypequery {
  background: #538083;
}

.chartBarTypeadded {
  background: #747c92;
}

.recordsFound {
  color: #7353ba;
  padding: '2px';
}

.darkMode .recordsFound {
  color: #bad9b5;
  padding: '2px';
}

.duplicateExclamation {
  color: #f7dd72;
}

.darkMode .duplicateExclamation {
  color: #dda15e;
}

.dialFailure {
  color: #eacbd2;
  padding: '2px';
}

.darkMode .dialFailure {
  color: #6b0f1a;
  padding: '2px';
}

.chartBars .chartBar.chartBarTypemainquery {
  background: #324a5f;
  color: white;
  font-weight: 500;
  text-align: left;
}

.chartBar:last-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.chartBar:first-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
